div>p {
    background-color: yellow;
    display: inline;
}

h1 {
    color: red;
}

.clstxt {
    color: green;
}

#idtxt {
    color: blue;
}

input[placeholder] {
    color: purple;
    width: 320px;
    border: 5px solid rgb(205, 122, 205);
}

.wrap p {
    color: darkturquoise;
}

ul>li {
    color: darkcyan;
}

.seven p {
    color: darkred;
}

div.clstxt {
    color: cyan;
}

#idclass.idclass {
    color: rgb(102, 118, 78);
}

.wrapper input[placeholder] {
    background-color: darkblue;
    border: 3px solid lightblue;
}

.par {
    font-family: Arial, Helvetica, sans-serif;
    color: brown;
}